// GLOBAL STYLES /////////////////////////////////////////////////////

// FONT STYLES /////////////////////////////////////////////////////
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");
// BODY STYLES /////////////////////////////////////////////////////
.Body {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding: 10%;
  margin: 0 auto;
}

// BUTTON STYLES /////////////////////////////////////////////////////

// .Body-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: red;
// }
